@import "tailwindcss";

/* .custom-date-input::-webkit-calendar-picker-indicator {
  opacity: 0;
  display: none;
}

.custom-date-input::-webkit-clear-button,
.custom-date-input::-webkit-inner-spin-button {
  display: none;
} */
